@{
                /**/

                ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Белоусов Дмитрий<br />
    <abbr title="Phone">+79831687055</abbr>
    <abbr title="Email">dimdis80@mail.ru</abbr>
</address>

